.geobutton[b-q6nz4ghz8n]{
    border: 1px solid red;
    border-radius: 20px;
    text-align: center;
}

.invisible[b-q6nz4ghz8n]{
    display: none;
}

.submit-button:hover[b-q6nz4ghz8n]{
    background-color: #087662;
    color: rgb(0, 0, 0);
}