<link href="wwwroot/css/GeoButton.css" rel="stylesheet" />
<div class="geobutton" @onclick="geoGet"><p>Geolocate</p></div>

<div class="geobutton" @onclick="waypointSet"><p>set Waypoint</p></div>


@code{
    private void geoGet(){

    }

    private void waypointSet(){

    }
}