@inherits LayoutComponentBase

<div class="page">
    <section class="body-section">
        @Body
    </section>
    <section class="section-buttons">
        <article class="article-button">
            <p class="button">Map</p>
        </article>
        <article class="article-button">
            <p class="button">Env Data</p>
        </article>
    </section>
</div>