/* /Shared/GeoButton.razor.rz.scp.css */
.geobutton[b-q6nz4ghz8n]{
    border: 1px solid red;
    border-radius: 20px;
    text-align: center;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-bitp4bcroy]{
    display: flex;
    flex-direction: column;
    height: 100vw;
    width: 100vw;
    

}

.body-section[b-bitp4bcroy]{
    min-height: 80vh;
}

.section-buttons[b-bitp4bcroy]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}
